@import '_variables';
@import '_tcon';

header {
  .logo {
    width: 250px;
    display: inline-block;
    float: left;
    position: relative;
    z-index: 15;
    img {
      width: 100%;
      display: inline-block;
    }
    @include maxTablet {
      float: none;
    }
  }
  nav {
    float: left;
    ul {
      padding-top: 20px;
      display: inline-block;
      float: left;
      padding-left: 30px;
      visibility: visible;
      opacity: 1;
      @include transition(0.3s);
      @include maxTablet {
        position: absolute;
        top:50px;
        left:0;
        bottom: 0;
        padding-left:0;
        visibility: hidden;
        opacity: 0;
        z-index: 10;
        background-color: $oddchecker-bg;
        height: 100vh;
        overflow: auto;
      }
      @include minTablet {
        visibility: visible!important;
        opacity: 1!important;
      }
      li {
        display: inline-block;
        list-style-type: none;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        padding-top: 5px;
        padding-bottom: 5px;
        @include maxTablet {
          padding-top: 20px;
          padding-bottom: 20px;
        }
        @include maxTablet {
          float:left;
          width:100%;
        }
        a {
          color: #fff;
          text-decoration: none;
          @include transition(0.3s);
          &:hover, &:focus {
            color: $oddchecker-orange;
          }
        }
        .separator {
          position: absolute;
          right: 0;
          top:15%;
          height: 70%;
          width: 2px;
          display: inline-block;
          background-color: #735b27;
          margin-right: -1px;
          @include maxTablet {
            display: none;
          }
        }
      }
      @include maxTablet {
        width:100%;
        text-align: center;
      }
    }
  }
  @include maxTablet {
    text-align: center;
  }
  .burgerMenu {
    position: absolute;
    top:25px;
    left:10px;
    z-index: 15;
    @include minTablet {
      display: none;
    }
  }
  &.menuHidden {
    nav {
      ul {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
  &.menuVisible {
    nav {
      ul {
        @include maxTablet {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
