@import '_nav';
@import '_variables';
@import '_reset';
@import '_tabsWrapper';
@import '_background';
@import '_betsView';
@import '_footer';

* {
  box-sizing: border-box;
}


body {
  margin:0;
  margin-top:5px;
  border-top:5px solid $oddchecker-orange;
  background-color: $oddchecker-bg;
  &.menuVisible {
    overflow: hidden;
  }
}

.mainContainer {
  padding-left: 20px;
  padding-right: 20px;
  width: 991px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  min-height: calc(100vh - 68px);
  flex-direction: column;
  @include maxSmall {
    width: 100%;
  }
  @include maxTablet {
    min-height: auto;
    padding-bottom: 80px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 991px;
  margin-left: auto;
  margin-right: auto;
  @include maxSmall {
    width: 100%;
  }
  @include maxTablet {
    padding-left: 5px;
    padding-right: 5px;
  }
}